@use './font';
@use './variables';
@use './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 10px 0;
}

.icon {
  cursor: pointer;
}
.container {
  @include mixins.flex(center);
  background-color: $white-color;
  overflow: hidden;
}

.post__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 24px;
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }

  @include small-tablet {
    grid-template-columns: repeat(3, 1fr);
  }
}

.wide {
  width: 96%;
  @include mobile{
    width: 90%;
  }
}

svg {
  margin-right: 6px;
}
